target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### maven ###
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/